* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.udy {
  background-image: url("./bgudemy.jpeg");
  height: 70vh;
  background-size: cover;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}
.text {
  margin-left: 7%;
  font-size: large;
  line-height: 1.5;
}
.text input {
  width: 35%;
  height: 7vh;
  margin-top: 3%;
  border: none;
}
.text h2 {
  word-spacing: 5px;
  font-size: 36px;
}
.text img {
  width: 20%;
}
.text .body-sear {
  position: absolute;
  top: 52.3%;
  left: 36%;
  width: 4vw;
  height: 7.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .body-sear:hover {
  background-color: rgb(128, 0, 0);
}
input[type="search"] {
  padding-left: 3%;
  outline: none;
}
